<div class="page">
  <h1>Mock App</h1>
  <h4>Select the bank you would like to view</h4>
  <div class="search__wrapper">
    <app-search placeholder="Search for something.."></app-search>
  </div>

  <app-button ibmButton="primary" text="Search"></app-button>
  
  <div class="table__wrapper">
    <table>
      <tr>
        <th>Bank Code</th>
        <th>Bank Location</th>
        <th>Bank Description</th>
      </tr>
      <tr>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>lorem</td>
      </tr>
      <tr>
        <td>ipsum</td>
        <td>lorem</td>
        <td>ipsum</td>
      </tr>
      <tr>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>lorem</td>
      </tr>
      <tr>
        <td>ipsum</td>
        <td>lorem</td>
        <td>ipsum</td>
      </tr>
    </table>
  </div>
</div>