.page {
    height: 100vh;
    width: 100%;
    background: #fafafa;
    padding: 40px 80px;
}

h1 {
    margin-bottom: 40px;
}

h4 {
    margin-bottom: 20px;
}

td {
    padding: 10px;
    width: 200px;
}

th {
    padding: 10px;
    width: 200px;
    font-weight: bold;
    text-align: left;
}

tr {
    border-bottom: 1px solid black;
}